node_modules
/.app.prod.yaml
*~
/.gcloudignore
.git
/.gitignore
/.tsc*
/.prettier*
/.docker*
/.editor*
/.idea*
/test/
/target/
/build*
/scripts/
/.github/
/src/app/public
/src/app/build*
/examples
/website
/src/server/public
/src/server/config