[submodule "test/test-models"]
	path = test/test-models
	url = https://github.com/SDXorg/test-models.git
[submodule "src/engine-vensim/tinyxml2"]
	path = src/engine-vensim/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "src/engine-vensim/xmutil"]
	path = src/engine-vensim/xmutil
	url = https://github.com/bpowers/xmutil
	branch = bpowers/linux
