[workspace]

resolver = "2"
members = [
    "src/libsimlin",
    "src/simlin-cli",
    "src/simlin-engine",
    "src/xmutil",
]

[profile.release]
opt-level = "z"
lto = true
panic = "abort"
strip = true
