[package]
name = "simlin-engine"
version = "0.1.0"
authors = ["Bobby Powers <bobbypowers@gmail.com>"]
license = "Apache-2.0"
edition = "2018"
build = "build.rs"

[lib]
crate-type = ["rlib"]

[features]
wasm = ["wasm-bindgen"]

[dependencies]
lazy_static = "1"
regex = "1"
unicode-xid = "0.2"
lalrpop-util = "0.19.6"
prost = { git = "https://github.com/tokio-rs/prost", version = "0.7", rev = "c8691b701a5e2e542e52122a73af1f696c437a09" }
float-cmp = "0.8"
ordered-float = "2"
smallvec = { version = "1", features = [ "union" ] }
wasm-bindgen = { version = "0.2", optional = true }

[dev-dependencies]
rand = "0.8"

[build-dependencies]
lalrpop = "0.19.6"
prost-build = { git = "https://github.com/tokio-rs/prost", version = "0.7", rev = "c8691b701a5e2e542e52122a73af1f696c437a09" }
