.appBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: #1976d2;
  color: #fff;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.positionFixed {
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
}

.positionStatic {
  position: static;
}

.positionSticky {
  position: sticky;
  z-index: 1100;
  top: 0;
}
