.appBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: var(--color-primary);
  color: var(--color-contrast-text);
  box-shadow: var(--shadow-4);
}

.positionFixed {
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
}

.positionStatic {
  position: static;
}

.positionSticky {
  position: sticky;
  z-index: 1100;
  top: 0;
}
