.card {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  border-radius: 4px;
  overflow: hidden;
}

.outlined {
  border: 1px solid var(--color-border);
}

.elevation {
  box-shadow: var(--shadow-1);
}

.cardContent {
  padding: 16px;
}

.cardActions {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
