.checkbox {
  all: unset;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.54);
  background-color: transparent;
  cursor: pointer;
}

.checkbox:disabled {
  cursor: not-allowed;
  opacity: 0.38;
}

.checkbox:focus-visible {
  outline: 2px solid #1976d2;
  outline-offset: 2px;
}

.checkbox[data-state='checked'] {
  border-color: transparent;
}

.primary[data-state='checked'] {
  background-color: #1976d2;
}

.secondary[data-state='checked'] {
  background-color: #dc004e;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.checkIcon {
  width: 14px;
  height: 14px;
}
