.snackbar {
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1400;
}

.snackbarHidden {
  display: none;
}

.snackbarContent {
  background: #323232;
  color: #fff;
  border-radius: 4px;
  padding: 6px 16px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.snackbarContentMessage {
  padding: 8px 0;
  flex: 1;
}

.snackbarContentAction {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 16px;
  margin-right: -8px;
}
