.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.regular {
  min-height: 56px;
}

.dense {
  min-height: 48px;
}

@media (min-width: 600px) {
  .toolbar {
    padding-left: 24px;
    padding-right: 24px;
  }

  .regular {
    min-height: 64px;
  }
}
