.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.regular {
  min-height: 56px;
}

.dense {
  min-height: 40px;
}

@media (min-width: 600px) {
  .toolbar {
    padding-left: 16px;
    padding-right: 16px;
  }
}
