.card {
  width: var(--panel-width-sm);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

@media (min-width: 900px) and (max-width: 1199.95px) {
  .card {
    width: var(--panel-width-md);
  }
}

@media (min-width: 1200px) {
  .card {
    width: var(--panel-width-lg);
  }
}

.inner {
  padding: 16px;
  padding-top: 72px;
}

.list {
  color: #cc0000;
}

.yay {
  text-align: center;
}
