.content {
  width: 375px;
}

.imageWrap {
  display: inline-block;
  vertical-align: top;
  height: 48px;
}

.modelApp {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  padding-left: 64px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 70px;
  height: 100%;
  width: 100%;
}

.modelName {
  padding-left: 6px;
  padding-top: 2px;
  display: inline-block;
  height: 48px;
  font-size: 32px;
}

.menuButton {
  position: absolute;
  left: 8px;
  top: 8px;
  margin-left: 4px;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-right: 4px;
}

.modelIcon {
  width: 48px;
  height: 48px;
}

.propsForm {
  padding: 32px;
}

.exitLink {
  color: inherit;
}

.downloadButton {
  justify-content: center;
  width: 100%;
}
