.card {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: var(--spacing-1);
  border-radius: 4px;
  background: var(--color-surface);
  box-shadow: var(--shadow-2);
}

.button {
  padding-top: 8px;
}
