.card {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: var(--spacing-1);
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.divider1 {
  display: inline-block;
  top: 0;
  left: 0;
  margin-right: 6px;
  margin-top: 12px;
  height: 16px;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: var(--color-divider);
}

.divider2 {
  display: inline-block;
  top: 0;
  left: 0;
  margin-left: 8px;
  margin-top: 12px;
  height: 16px;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: var(--color-divider);
}

.zoomText {
  width: 21px;
  font-size: 0.6rem;
  color: var(--color-text-light);
  text-align: center;
  display: inline-block;
  vertical-align: 4px;
  margin: 0;
}
