.aux circle {
  stroke-width: 1px;
  stroke: var(--color-black);
  fill: var(--color-white);
}

.aux.targetGood circle {
  stroke: var(--color-target-good);
  stroke-width: 2px;
}

.aux.targetBad circle {
  stroke: var(--color-target-bad);
  stroke-width: 2px;
}

.aux.selected text {
  fill: var(--color-selected);
}

.aux.selected circle {
  stroke: var(--color-selected);
}

.aux .errorIndicator {
  stroke-width: 0px;
  fill: var(--color-indicator-warning);
}
