.canvas {
  height: 100%;
  width: 100%;
}

.simlinCanvas {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: none;
}

.canvas text {
  fill: var(--color-black);
  font-size: 12px;
  font-family: "Roboto", "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  text-anchor: middle;
  white-space: nowrap;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.noPointerEvents {
  pointer-events: none;
  touch-action: none;
}

.dragRectOverlay {
  stroke: var(--color-selected);
  stroke-width: 1px;
  fill: var(--color-drag-selection);
  opacity: 0.2;
  z-index: 10;
  transform: translateZ(1);
}
