.sparkline {
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke: #2299dd;
  fill: none;
}

.axis {
  stroke-width: 0.75px;
  stroke-linecap: round;
  stroke: var(--color-text-light);
  fill: none;
}
