.stock rect {
  stroke-width: 1px;
  stroke: var(--color-black);
  fill: var(--color-white);
}

.stock.selected text {
  fill: var(--color-selected);
}

.stock.selected rect {
  stroke: var(--color-selected);
}

.stock.targetGood rect {
  stroke: var(--color-target-good);
  stroke-width: 2px;
}

.stock.targetBad rect {
  stroke: var(--color-target-bad);
  stroke-width: 2px;
}

.stock .errorIndicator {
  stroke-width: 0px;
  fill: var(--color-indicator-warning);
}
