.googleIcon {
  fill: white;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  text-align: center;
}

.innerInner {
  display: inline-block;
}

.optionsButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.optionsButtons button {
  width: 240px;
  justify-content: flex-start;
}

.recoverInstructions {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.disabled {
  pointer-events: none;
  opacity: 0;
}

.logo {
  width: 160px;
  height: 160px;
  margin-bottom: 24px;
}

.appleButton {
  background-color: black;
}

.appleButton:hover {
  background-color: #333;
}

.emailButton {
  background-color: #db4437;
}

.emailButton:hover {
  background-color: #c33d2e;
}

.emailForm {
  text-align: left;
  min-width: 275px;
  max-width: 360px;
  width: 100%;
}
