.heading2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

.heading5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.heading6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.body2 {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.colorInherit {
  color: inherit;
}
